<!DOCTYPE html>
<html lang="en" ng-app="weatherApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather Forecast</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="main"  ng-controller="weatherCtrl">
    <!-- Header -->
  <div id="header">
    <div class="header-top">
      Weather Forecast
    </div>
    <div class="clear"></div>
    <div class="header-main">
      <form ng-submit="loadForecast();" method="GET">
        <div id="panel">
          <input name="location" ng-disabled="{{loading}}" class="search" ng-model="cityName" placeholder="Type city.." required />
          <input type="submit" name="search" class="searchbtn" value="{{(loading)?'Fetching...':'Search'}}" />
          <input type="button" name="button" ng-click="getCurrentLocation();" class="searchbtn" value="Current City" />
        </div>        
      </form> 
    </div>
  </div>
  <!-- End of Header -->

  <!-- Content -->
  <div id="content">
    <div class="default-content" ng-show="isEmpty(forecast)">
      Search City
    </div>
    <div class="inner-content" ng-show="!isEmpty(forecast)">
      <ul class="tab-menu">
        <li ng-repeat="city in cities"><a ng-click="getForecast(city.id, 'id');" ng-class="(city.id == currentForecast)?'active':''">{{city.name}}</a></li>
      </ul>
      <h3 class='cityname'>{{cityTitle}} <span class="latlong">(Lat : {{cities[currentForecast].coord.lat}}, Long : {{cities[currentForecast].coord.lon}})</h3>    
      <!-- Weather information -->
      <div class="info">
        <ul>
          <li class="info-tab" style="display: list-item;">
            <ul class="info-meta">
              <!-- Currently weather -->
              <li ng-class="($first) ? 'first' : 'other'" ng-repeat="forecast in forecast[currentForecast].list">
                <div ng-if="$first">
                  <span class='daydatetime'>{{forecast.dt * 1000 | date : 'fullDate'}}</span>
                  <div class="temperature">
                    <div class="fl">
                      <div class="sign-wrapper">
                        <i class="icon-js">{{forecast.weather[0].description | capitalize}}</i>
                        <img src="http://openweathermap.org/img/w/{{forecast.weather[0].icon}}.png" alt="" class="" width="64" height="64" />
                      </div>
                    </div>
                    <div class="fr">
                      <div class="gradus">
                        <span class="celsius">&#176; {{metric}}</span>
                        <span class="number">{{getDayTemprature(forecast.temp.day)}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="discription">{{forecast.weather[0].description | capitalize}}</div>
                  <span class="minMaxTemp">
                    <span class="min" title="Minumum Temprature">{{getDayTemprature(forecast.temp.min)}}&#176;</span> / 
                    <span class="max" title="Maximum Temprature">{{getDayTemprature(forecast.temp.max)}}&#176;
                    </span>
                  </span>
                  <div class="other">
                    <span class="humidity">
                      <img src="img/icons/humidity.png" width="32" height="32" title="Humidity" class="icon" />
                      <span class="point">{{forecast.humidity}}</span>%
                    </span>               
                    <span class="cloud">
                      <img src="img/icons/cloudy.png" width="32" height="32" title="Cloud cover" class="icon" />
                      <span class="point">{{forecast.clouds}}</span>%
                    </span>
                    <span class="wind">
                      <img src='img/icons/windImgN.png' width='32' height='32' title='Speed' class='icon' /> <span class='point'>{{forecast.speed}}m/s</span>               </span>
                    <span class="rainpos">
                      <img src="img/icons/posrain.png" width="32" height="32" title="Pressure" class="icon" />
                      <span class="point">{{(forecast.pressure / 100) | number : 0}}%</span>
                    </span>

                  </div>
                </div>
                <div ng-if="!$first" class="meta-wrapper">
                  <span class='daydatetime'>{{forecast.dt * 1000 | date : 'EEEE, MMMM d, y'}}</span>
                  <span class="sign-wrapper popup">
                    <i class="more-info">i</i>
                    <img src="http://openweathermap.org/img/w/{{forecast.weather[0].icon}}.png" alt="" class="" width="64" height="64" />
                  </span>
                  <div class="fr">
                    <div class="gradus">
                      <span class="number">{{getDayTemprature(forecast.temp.day)}}</span>
                      <span class="celsius">&#176; {{metric}}</span>
                    </div>
                  </div>
                  <span class="title">{{forecast.weather[0].description | capitalize}}</span>
                  <span class="temperature">
                    <span class="min" title="Minumum Temprature">{{getDayTemprature(forecast.temp.min)}}&#176;</span> / 
                    <span class="max" title="Maxiumum Temprature">{{getDayTemprature(forecast.temp.max)}}&#176;
                    </span>
                  </span>
                  <span class="humidity-cloud">
                    <img src="img/icons/humidity.png" width="24" height="24" title="Humidity" class="icon" />
                    <span class="point">{{forecast.humidity}}</span>%&nbsp;&nbsp;&nbsp;
                    <img src="img/icons/cloudy.png" width="24" height="24" title="Cloud cover" class="icon" />
                    <span class="point">{{forecast.clouds}}</span>%
                  </span>
                  <span class="humidity-cloud">
                    <img src="img/icons/windImgN.png" width="24" height="24" title="Speed" class="icon" />
                    <span class="point">{{forecast.speed | number:0}} m/s</span>
                    <img src="img/icons/posrain.png" width="24" height="24" title="Pressure" class="icon" />
                    <span class="point">{{(forecast.pressure / 100) | number:0}}%</span>
                  </span>
                </div>
              </li>
              <!-- End Currently weather -->
            </ul>
          </li>
        </ul>     
      </div>
    </div>
    <!-- End of weather information -->
    <div class="clear"></div>
</div>
  <!-- Angular js Core file -->
  <script type="text/javascript" src="js/angular.min.js"></script>
  <!-- Application File -->
  <script type="text/javascript" src="js/weatherApp.js"></script>  
  </body>
</html>